<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aviso Legal</title>
    <link rel="stylesheet" href="./../Css/estilos.css">
</head>
<body>
    <!-- Barra de navegacion -->
    <nav>
        <input type="checkbox" id="check-menu" class="check-menu">
        <ul class="nav-links">
            <li><a href="./../index.html">Inicio</a></li>
            <li><a href="Views/Portfolio.html">Portfolio</a></li>
            <li><a href="Presupuestos.html">Presupuestos</a></li>
            <li><a href="Contacto.html">Contacto</a></li>
        </ul>
        <label for="check-menu" class="label-check">
            <div class="menu-hamburguesa">
                <div class="linea"></div>
                <div class="linea"></div>
                <div class="linea"></div>
            </div>
        </label>
    </nav>
    <!-- cabecera -->
    <header>
        <img id="logompd" src="./../Assets/Imagenes/MPDesign-logo.png" alt="logo de MPDesign">
        <h1>Aviso Legal</h1>
    </header>
    <!-- contenedor -->
    <section>
        
    </section>
</body>
</html>
