<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto</title>
    <link rel="stylesheet" href="./../Css/estilos.css">
</head>
<body>
    <!-- Barra de navegacion -->
    <nav>
        <input type="checkbox" id="check-menu" class="check-menu">
        <ul class="nav-links">
            <li><a href="./../index.html">Inicio</a></li>
            <li><a href="Portfolio.html">Portfolio</a></li>
            <li><a href="Presupuestos.html">Presupuestos</a></li>
        </ul>
        <label for="check-menu" class="label-check">
            <div class="menu-hamburguesa">
                <div class="linea"></div>
                <div class="linea"></div>
                <div class="linea"></div>
            </div>
        </label>
    </nav>
    <!-- cabecera -->
    <header>
        <img id="logompd" src="./../Assets/Imagenes/MPDesign-logo.png" alt="logo de MPDesign">
        <h1>Contacto</h1>
        <h3>¡Contáctame para darle vida a tu proyecto!</h3>
    </header>
    <!--Contenedor-->
    <div id="contenedor">
        <section class="seccion-horizontal">
            <div class="izq">
                <img class="logo-rrss" src="./../Assets/Imagenes/Logo-wsp.png" alt="logo de whatsapp">
                <p>+34 663 89 20 26</p>
                <img class="logo-rrss" src="./../Assets/Imagenes/Logo-mail.png" alt="logo de mail">
                <p>peiranomatiasgerman@gmail.com</p>
                <img class="logo-rrss" src="./../Assets/Imagenes/Logo-ubi.png" alt="logo ubicacion">
                <p>San juan de los terreros, almeria, españa</p>
                <a class="botones" href="https://maps.app.goo.gl/5kRYphwCQUPZ3MXL6">google maps</a>
            </div>
            <div class="der">
                <div id="ubicacion">
                    <img id="imgubicacion" src="./../Assets/Imagenes/Ubicacion.jpg" alt="ubicacion">
                </div>
            </div>
        </section>
    </div>
    <!-- pie de pagina -->
    <footer>
        <div class="menu-footer">
            <a class="botones-footer" href="https://www.instagram.com/m.p_design/"><img class="logo-rrss" src="./../Assets/Imagenes/Logo-ig.png" alt="logo de instagram"></a>
            <a class="botones-footer" href="https://mail.google.com/mail/u/0/?hl=es#inbox?compose=CllgCJlFCzCPjjrWSbdbpCwhXXCLJXSGdhCCjsHGdSRrlXklcXQtZrhmNKgrBKLcpzlJlZvnFlB"><img class="logo-rrss" src="./../Assets/Imagenes/Logo-mail.png" alt="logo mail"></a>
        </div>
        <p class="parrafo-footer">copyright MPDesign</p>
        <div class="menu-footer">
            <a class="botones-footer" href="Contacto.html">contacto</a>
            <a class="botones-footer" href="Aviso Legal.html">aviso legal</a>
        </div>
    </footer>
</body>
</html>
