<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <link rel="stylesheet" href="./../Css/estilos.css">
</head>
<body>

    <!-- Barra de navegacion -->
    <nav>
        <div class="nav-links">
           <a href="./../index.html">Inicio</a>
           <a href="Portfolio.html">Portfolio</a>
           <a href="Presupuestos.html">Presupuestos</a>
           <a href="Contacto.html">Contacto</a>
        </div>
    </nav>

    <!-- cabecera -->
    <header>
        <img id="logompd" src="./../Assets/Imagenes/MPDesign-logo.png" alt="logo de MPDesign" width="1080" height="1080">
        <h1>Portfolio</h1>
        <h3>Conoce lo que hago</h3>
    </header>

    <!--Contenedor-->
    <div id="contenedor">

        <!-- seccion 1 -->
        <section>
            <h2>Diseño gráfico</h2>
            <h3>Aquí encontrarás distintos trabajos hechos para mis clientes</h3>
            <div class="galeria-de-imagenes">
                <div class="caja1"><img src="./../Assets/Imagenes/Diseño-grafico/SantJoan1.jpg" alt="diseño atletico sant joan" width="250" height="250"></div>
                <div class="caja2"><img src="./../Assets/Imagenes/Diseño-grafico/SantJoan2.jpg" alt="diseño atletico sant joan" width="250" height="250"></div>
                <div class="caja3"><img src="./../Assets/Imagenes/Diseño-grafico/SantJoan3.jpg" alt="diseño atletico sant joan" width="250" height="250"></div>
                <div class="caja4"><img src="./../Assets/Imagenes/Diseño-grafico/SantJoan4.jpg" alt="diseño atletico sant joan" width="250" height="250"></div>
                <div class="caja5"><img class="imghorizontal" src="./../Assets/Imagenes/Diseño-grafico/Pepa1.jpg" alt="diseño pepa peluqueria" width="375" height="250"></div>
                <div class="caja6"><img class="imghorizontal" src="./../Assets/Imagenes/Diseño-grafico/Pepa2.jpg" alt="diseño pepa peluqueria" width="375" height="250"></div>
                <div class="caja7"><img class="imghorizontal" src="./../Assets/Imagenes/Diseño-grafico/Pepa3.jpg" alt="diseño pepa peluqueria" width="375" height="250"></div>
                <div class="caja8"><img class="imghorizontal" src="./../Assets/Imagenes/Diseño-grafico/Pepa4.jpg" alt="diseño pepa peluqueria" width="375" height="250"></div>
                <div class="caja9"><img src="./../Assets/Imagenes/Diseño-grafico/NeuroSantJoan.jpg" alt="diseño de logo neuro sant joan" width="250" height="250"></div>
                <div class="caja10"><img src="./../Assets/Imagenes/Diseño-grafico/Vias1.jpg" alt="diseño de logo para vias fc" width="250" height="250"></div>
            </div>
        </section>

        <!-- seccion 2 -->
        <section>
            <h2>Fotografía</h2>
            <h3>Aquí encontrarás Algunas fotos hechas por mi</h3>
            <div class="galeria-de-imagenes">
                <div class="caja1"><img src="./../Assets/Imagenes/f1.jpg" alt="foto" width="250" height="375"></div>
                <div class="caja2"><img src="./../Assets/Imagenes/f11.jpg" alt="foto" width="250" height="375"></div>
                <div class="caja3"><img src="./../Assets/Imagenes/f2.jpg" alt="foto" width="250" height="375"></div>
                <div class="caja4"><img src="./../Assets/Imagenes/f3.jpg" alt="foto" width="250" height="375"></div>
                <div class="caja5"><img src="./../Assets/Imagenes/f4.jpg" alt="foto" width="250" height="375"></div>
                <div class="caja6"><img src="./../Assets/Imagenes/f6.jpg" alt="foto" width="250" height="375"></div>
                <div class="caja7"><img src="./../Assets/Imagenes/f8.jpg" alt="foto" width="250" height="375"></div>
                <div class="caja8"><img src="./../Assets/Imagenes/f10.jpg" alt="foto" width="250" height="375"></div>
            </div>
        </section>

        <!-- seccion 3 -->
        <section>
            <h2>Diseño web</h2>
            <h3>Aquí encontrarás las distintas páginas web que he hecho en Wordpress con el constructor divi</h3>
            <div class="galeria-de-imagenes-web">
                <div><a href="https://atleticosantjoan.com/wp/"><img class="screenshots-paginaweb" src="./../Assets/Imagenes/Diseño-web/web3.jpg" alt="web atletico sant joan" width="500" height="225"></a></div>
                <div><a href="https://neurorehabilitacionsantjoan.com/"><img class="screenshots-paginaweb" src="./../Assets/Imagenes/Diseño-web/web2.jpg" alt="web neuro sant joan" width="500" height="225"></a></div>
                <div><a href="https://tiempotraining.com/"><img class="screenshots-paginaweb" src="./../Assets/Imagenes/Diseño-web/web1.jpg" alt="web tiempo personal training center" width="500" height="225"></a></div>
            </div>
        </section>
    </div>

    <!-- pie de pagina -->
    <footer>
        <div class="menu-footer">
            <a class="botones-footer" href="https://www.instagram.com/m.p_design/"><img class="logo-rrss" src="./../Assets/Imagenes/iconoIg.png" alt="logo de instagram" width="100" height="100"></a>
            <a class="botones-footer" href="https://mail.google.com/mail/u/0/?hl=es#inbox?compose=CllgCJlFCzCPjjrWSbdbpCwhXXCLJXSGdhCCjsHGdSRrlXklcXQtZrhmNKgrBKLcpzlJlZvnFlB"><img class="logo-rrss" src="./../Assets/Imagenes/iconoMail.png" alt="logo mail" width="100" height="100"></a>
        </div>
        <p class="parrafo-footer">copyright MPDesign</p>
        <div class="menu-footer">
            <a class="botones-footer" href="Contacto.html">contacto</a>
            <a class="botones-footer" href="Aviso-Legal.html">aviso legal</a>
        </div>
    </footer>
</body>
</html>
